[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
Jinja2 = "*"

[dev-packages]

[scripts]
serve = "python select_image.py"
